{% extends 'base.html' %}

{% block title %} Search Results {% endblock title %}
{% block blogactive %} active {%endblock blogactive%}


{% block body %} 


<div class="container my-3">

  <h2>Search results:</h2>


  {% if allPosts|length < 1 %}
      <h2>No search results for <strong>{{query}}</strong></h2>
      <p>Here's what you can do</p>
      <ul>
      <li>Check misspelled words</li>  
      <li>cut down your query</li>  
      <li>Probably your search is not available</li>  
      <li>check you internet connection</li>
      </ul>  
  {% endif %}
  {% for post in allPosts %}

  <div
    class="row no-gutters border rounded overflow-hidden my-4 flex-md-row mb-4 shadow-sm h-md-250 position-relative"
  >
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">Blog by {{post.author}}</strong>
      <h3 class="mb-0">{{post.title}}</h3>
      <div class="mt-2 mb-2 text-muted">{{post.timeStamp}}</div>
      <p class="card-text mb-auto">
        {{post.content| truncatechars:220}}
      </p>

      <div class="my-3">
      <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Read blog</a>
      </div>

    </div>
  </div>

  {% endfor %}
  

</div>


{% endblock body %}